body {
    font-family: monospace;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    text-align: right;
    background: white;
    font-size: 1.5em;
}

#note-input {
    position: absolute;
    z-index: 100000;
    background: white;
    padding: 20px;
    font-size: 1.5em;
}

#note-input form {
    display: inline-block;
}

#controls button, #note-input button, #note-input input[type="submit"] {
    padding: 0.2em 0.5em;
    font-size: inherit;
}
