#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.leaflet-marker-pane {
  opacity: .8;
}

.leaflet-control-layers-overlays {
  opacity: .7;
}
.leaflet-control-layers-overlays label {
  font-size: 18px;
  line-height: 28px;
}
.leaflet-control-layers-overlays label img {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}
.leaflet-control-layers-overlays label em {
  border-bottom: 5px solid black;
  border-radius: 3px;
  padding: 0 .2em;
  margin-right: .5em;
}

#stream {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  z-index: 1000000000;
  background-color: rgba(1,1,1,.5);
}

#stream img {
  margin: 10px;
  height: 130px;
  border-radius: 10px;
}
