<h2>Timetable Bozen</h2>
<table>
	<tbody>
		<tr>
			<td>10:00h</td>
			<td>Frühstück mit Kaffee</td>
		</tr>
		<tr>
			<td>10:15h</td>
			<td></td>
		</tr>
		<tr>
			<td>11:30h</td>
			<td></td>
		</tr>
		<tr>
			<td>12:00h</td>
			<td>Mapping</td>
		</tr>
		<tr>
			<td>13:00h</td>
			<td>Mittag</td>
		</tr>
		<tr>
			<td>14:00h</td>
			<td>Mapping</td>
		</tr>
		<tr>
			<td>15:00h</td>
			<td>Präsentation und Diskussion</td>
		</tr>
		<tr>
			<td>17:00h</td>
			<td>ENDE</td>
		</tr>
	</tbody>
</table>


<h2>Copyright Policy</h2> 
All data collected will be freely available under the public domain.
	
<h2>Software</h2>
This Software is written for the neogeographic mapping party on 14th of september 2013 during the Transart festival in Bozen.

This HTML5 Web App is open source and available on the <a href="https://github.com/elevate-festival/neokarto-party" title="GitHub Repository">GitHub</a> repository to work on and improve it.

<h2>Contact</h2>
XXX @ YYYY