<h3>#Tips</h3>
<p>We still #hack on this app so please bare with us! You will find many invitations inside of the app to <a target="_blank" href="https://dspace.elevate.at">support</a> its development through #moneyless means :)</p>
<ul>
  <li>Currently all data *stays public* so please make sure you turn it off when you do not want to broadcast your data!</li>
  <li>Try few browsers available for your device in case you find real roadblocks.</li>
  <li><strong>Play</strong> with the inteface to figure it all out</li>
  <li>Enjoy and once again please consider supporting evolution of this system :)</li>
</ul>
<h3>#Attributions</h3>
<ul>
  <li><a target="_blank" href="https://openstreetmap.org">OpenStreetMap</a></li>
  <li><a target="_blank" href="https://orwell.at">Orwell</a></li>
  <li><a target="_blank" href="https://grazwiki.at">GrazWiki</a></li>
  <li><a target="_blank" href="https://kulturserver-graz.at">KulturServer Graz</a></li>
  <li><a target="_blank" href="https://elevate.at">Elevate Festival</a></li>
  <li><a target="_blank" href="https://g24.at">G24</a></li>
  <li><a target="_blank" href="https://cafeerde.com">café erde</a></li>
</ul>
