<form>
  <p>no spaces or special characters other than <strong>-</strong> and <strong>.</strong><br />
  <input type="text" placeholder="enter login" />
  <div id='select-host'>
    <p>and choose host for your account</p>
    {{#each hosts}}
    <label><input type="radio" name="host" value="{{@key}}" />@{{@key}}</label><br />
    {{/each}}
  <div>
    <p>you can also <a target="_blank" href="https://dspace.elevate.at/#indy">host it yourself!</a></p>
    <p> even on your <a target="_blank" href="http://www.freedomboxfoundation.org/">#Freedombox</a></p>
</form>
