<form>
  <label class="photo icon-camera"><input name="media" type="file" accept="image/*" capture></label>
  <input type="file" accept="video/*" capture>
  <input type="file" accept="audio/*" capture>
</form>
