<button class="info icon-info"></button>
<button class="settings icon-settings"></button>
<button class="center icon-target"></button>
<button class="comment icon-comment"></button>
<button class="uplink"><span class="icon-spin4 animate-spin"></span></button>
