<form>
  <label class="photo icon-picture"><input style="opacity:0;" name="picture" type="file" accept="image/*;capture=camera" capture="camera"></label>
  <br/>
  <textarea name="text" placeholder="What's up?"></textarea>
  <br/>
  <button class="submit icon-ok"></button>
</form>
